section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.btns{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: #1E33D1;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/inicio_fondo.png') no-repeat;
    background-size: cover ;
    background-position: center;
}


.inicio.img img{
    width: 100%;
    
}




@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.inicio .content h3{
    font-size: 5.5rem ;
    color: #333;
    text-transform: uppercase;
}

.inicio .content h3 span{
    color: #1E33D1;
}

.inicio .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}


@media (max-width: 768px){
    .inicio{  
       flex-flow: column-reverse ;
     } 
     .inicio.img img{
         width: 10px;

     }
     .inicio .content h3{
         text-align: center;
         font-size: 3.6rem;
         
     }
     .inicio .content p{
         font-size: 1.5rem;
     }
   }

